* {
    margin: 0;
    padding: 0;
    font-family: Georgia, verdana, sans-serif;
}

body {
    background-color: #f9f9ff; 
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    border-style: dotted none none;
    border-width: 7px;
    width: 20%;
    border-color: #b3b3b3;
    margin: auto;
}

.navigation {
    background-color: #28305e;
    padding: 1em 0px;
    
}

table.navigation {
    /* background-color: black; */
    /* width: 20em; */
    table-layout: fixed;
    /* border: 1px solid red; */
}

table.navigation td {
    width: 7.5em;
    /* background-color: pink; */
    text-align: center;

}

table.navigation td a {
    color: white;    
    font-family: verdana;
}

.hover-style:hover {
    /* color: #ad0000;     */
    font-weight: bold;
    font-style: italic;
    font-family: verdana;
}

.link {
    font-style: normal;
    text-decoration: none;
}

.title {
    font-family: Georgia;
    text-align: center;
    font-size: 5em;
    padding: 0.4em 0.2em;
    /* color: #00b7ff; */
    /* color: #ad0000; */
}

.wrapper {
    margin: 0 auto;
    display: flex;
}

.text-box {
    margin: 1em;
    padding: 1em;
    /* width: 50%; */
    background-color: white;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-flow: row wrap; */
    flex: 0 1 auto;

    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 0 3px grey;
}

.text-box .text {
    max-width: 40em;
    padding: 1em;
}

.bold-italic {
    font-style: italic;
    font-weight: bold;
}

#course {
    font-style: italic;
    font-weight: bold;
    /* text-decoration: underline; */
    color: goldenrod;
}

#profile-pic img {
    max-width: 100%;
    height: auto;
}

.float-right {
    float: right;
    margin-right: 1em;
}

.text {
    font-size: 1.2em;
}

.nice-size {
    font-size: 1.2em;
}

.text-white {
    color: white;
}

.separator {
    margin: 5em;
}

.wide-color {
    background-color: #212852;
}

.img-box-row {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.img-box-col {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column wrap;
}

.img {
    max-width: 80%;
    height: auto;
    flex: 0 1 auto;
    margin: 5px;
}

ul.nice-size li {
    font-size: 1em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #28305e;
    padding: 0.5em;
}